@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MobileBankApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/myCss/indexcss.css" />
</head>
<div class="container">
<div class = "Sucess" style="padding: 0px 50px; color :Black;" >
    <h3 >
        Your Transaction is Sucessfull <br> Thanks for Using Rashford Virtual Bank <br>...Looking forward to please you.
    </h3>
</div>
</div>
<button style="background-color: white;"><a   asp-controller="Customer" asp-action="Profile">Back to Profile</a></button>