@{
    Layout = null;
}
<head>
     <link rel="stylesheet" href="~/myCss/indexcss.css" />
</head>
<div class = "Sucess" style="padding: 0px 50px; color :Black;">
    <h3 >
        Your Transaction is Sucessfull <br> Thanks for Using Rashford Virtual Bank <br>...Looking forward to please you.
    </h3>
</div>
<button style="background-color: white; text-align: center"><a   asp-controller="Customer" asp-action="Profile">Back to Profile</a></button>